<div class="download-item" (click)="onDownload($event)">
  <mat-icon class="file-icon">{{ getFileIcon() }}</mat-icon>
  <div class="download-content">
    <div class="download-title">{{ form.formName }}</div>
    <div class="download-description">{{ form.description }}</div>
    <div class="download-meta">
      <span class="file-type">{{ form.fileType.toUpperCase() }}</span>
      @if (form.fileSize) {
        <span class="file-size">{{ formatFileSize() }}</span>
      }
    </div>
  </div>
  <button mat-icon-button aria-label="Download" class="download-button">
    <mat-icon>download</mat-icon>
  </button>
</div>
